textarea {
	height: 300px;
	width: 100%;
	resize: none;
	outline: none;
}

input[type=button] {
	float: right;
	margin: 5px;
	width: 50px;
	height: 35px;
	border: none;
	color: white;
	font-weight: bold;
	outline: none;
}

.clear {
	background: red;
}

.send {
	background: green;
}

.clear:active {
	background: yellow;
}

.send:active {
	background: yellow;
}



.from {
	background-color: white;
	width: 80%;
	border-radius: 10px;
	height: 20px;
	line-height: 20px;
	float: left;
	color: black;
	font-size: 22px;
}

.to {
	background-color: white;
	width: 80%;
	border-radius: 10px;
	height: 20px;
	line-height: 20px;
	float: right;
	color: black;
	font-size: 22px;
}

.name {
	color: gray;
	font-size: 12px;
	margin-left:10px;
	margin-right:10px;
}

.tmsg_text {
	color: black;
	/* background-color: rgb(47, 47, 47); */
	background-color:white;
	font-size: 18px;
	border-radius: 5px;
	padding: 2px; 
	/* text-align: left; */
	text-align: right;
	margin-right:13px;
	width : 450px;
	float : right;
}

.fmsg_text {
	color: black;
	/* background-color: rgb(66, 138, 140); */
	background-color:white;
	font-size: 18px;
	border-radius: 5px;
	padding: 2px;
	margin-left:13px;
	width : 450px;
	padding-top : 5px;
	margin-top : 5px;
}

.sfmsg_text {
	color: black;
	/* background-color: rgb(148, 16, 16); */
	background-color:white;
	font-size: 18px;
	border-radius: 5px;
	padding: 2px;
	margin-left:13px;
}

.tmsg {
	clear: both;
	float: right;
	width: 80%;
	text-align: right;
}

.fmsg {
	clear: both;
	float: left;
	width: 80%;
}