body{
	color:black;
}

.news{
	position:relative;
	float:left;
	left:30px;
	top:100px;
	width:100%;
	margin-top:15px;
	margin-right:50px;
	z-index:12;
	height:80%;
	border:1px solid #F00;
	word-wrap:break-word;
	overflow:hidden;
	background:#E6E6FA; 
	color:#2F4F4F;
}


.search-panle-normal{
	position:relative;
	float:left;
	margin-top:15px;
	margin-right:50px;
	z-index:9999;
	width:250px;
	height:200px;
	border:1px solid #F00;
	word-wrap:break-word;
	overflow:hidden;
}

.search-panle-Gainsboro{
	background:#E1FFFF; 
	color:#000000;
}

.search-panle-DarkMagenta{
	background:#8B008B; 
	color:#40E0D0;
}

.search-panle-CornflowerBlue{
	background:#6495ED; 
	color:#000080;
}

.search-panle-Cyan{
	background:#00FFFF; 
	color:#9400D3;
}

.search-panle-Yellow{
	background:#FFFF00; 
	color:#000000;
}

.search-panle-Orchid{
	background:#DA70D6; 
	color:#FFF;
}

.search-panle-Lavender{
	background:#E6E6FA; 
	color:#2F4F4F;
}

.search-panle-LightBLue{
	background:#ADD8E6; 
	color:#FFF;
}

.search-panle-DoderBlue{
	background:#1E90FF; 
	color:#FFF;
}

em{
	font-weight:bold;
	font-style:normal;
}

a{
    color:#000;ss
}

.search-detail{
	text-align:left;
}